@using Oversee.ViewModels

@model LoginVM
@{
    ViewData["Title"] = "Login";
}

<div class="container container-register col-lg-4 col-md-6 col-sm-6" style="margin-top: 15rem; margin-bottom: 0.5rem;">
    <div class="justify-content-center">
        <div class="card card-lg text-center">
            <div class="card-body" style="padding: 2.25rem;">
                <div>
                    <h2 class="text-center" style="margin-bottom: 2.25rem;">Login</h2>
                    <form method="post" asp-action="Login">
                        <div class="form-group mb-4">
                            <input class="form-control input-group" asp-for="Email" placeholder="Email">
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group mb-4">
                            <input class="form-control input-group" asp-for="Password" placeholder="Password">
                            <span asp-validation-for="Password"></span>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-success btn-block" type="submit" style="display: block; width: 100%;">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
<div>No account? <a asp-area="" asp-controller="Account" asp-action="Register">Create one!</a></div>
</div>
